*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container>*{
    padding-left: 10px;
    font-size: clamp(0.75rem + 0.75vw, 0.25vw + 0.50rem, 1.25vw + 1.25rem);
    font-family: 'Open Sans', sans-serif;
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: #94a3b8;
    display: grid;
    transition: 200ms width;
}
#sideBar{
    background-color: #e2e8f0;
    grid-column: 1/2;
    grid-row: 1/6;
    transition: 200ms width;

    display: flex;
    flex-direction: column;
    gap: 50px;
}
#sideBarBox1{
    display: flex;
    gap: 0.5rem;
    align-content: center;
    margin-top: 15px;
}
#sideBarBox2>div{
    display: flex;
    gap: 1rem;
    align-content: center;
}
#sideBarBox3>div{
    display: flex;
    gap: 1rem;
    align-content: center;
}
#header{
    background-color: #e2e8f0;
    grid-column: 2/6;
    grid-row: 1/2;
    }
#headerBox1,#headerBox2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
#search{
    display: flex;
    align-items: center;
    gap: 1rem;
}
input{
    background-color: whitesmoke;
    color: rgb(141, 163, 163);
    width: 15rem;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
}
#userName{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
#userName img{
    width: 3rem;
    height: 3rem;
}
#greeting{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5rem;
}
#greeting img{
    width: 6rem;
    height: 6rem;
}
#greet{
    align-self: flex-end;
}
#buttons{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    align-content: center;
}
.btn{
    width: 90px;
    height: 40px;
    background-color: #f1f5f9;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.btn:hover{
    background-color: #64748b;
    width: 100px;
    height: 40px;
    color: #f1f5f9;
}
#mainGrid{
    background-color: #f1f5f9;
    grid-column: 2/6;
    grid-row: 2/5;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#main-cont{
    background-color: #f1f5f9;
    grid-column: 1/3;
    grid-row: 1/2;
}
#main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
    padding: 10px;
    max-width: 100%;
}
.mainBox{
    background-color: #e2e8f0;
    padding: 5px;
    border-left: 5px solid #475569;
    border-radius: 10px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.mainBox .mainBoxMiniIcons{
    display: flex;
    justify-content: end;
    top: 10px;
    align-self: flex-end;
}
#sideBar2{
    background-color: #f1f5f9;
}
.sideBar2Box{
    background-color: #e2e8f0;
    display: grid;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 12px;
}
.sideBar2Box2{
    margin-bottom: 15px;
}
.users{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.users>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.users img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#footer{
    background-color: #64748b;
    grid-column: 2/6;
    grid-row: 5/6;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 10px;
}
@media (max-width: 760px){
    #container>*{
        padding-left: 10px;
        font-size: clamp(0.75rem + 0.75vw, 0.75vw + 1.5rem, 1.25vw + 1.25rem);
        font-family: 'Open Sans', sans-serif;
    }
    #header{
        background-color: #e2e8f0;
        grid-column: 2/6;
        grid-row: 1/2;
        align-content: center;
        justify-content: center;
    
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0.5rem;
    }
    #buttons{
        margin-top: 10px;
    }
    #headerBox1,#headerBox2{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
    }
    #headerBox2{
        display: grid;
        padding: 3px;
        align-items: center;
        justify-content: start;
    }
    #mainGrid{
        background-color: #f1f5f9;
        grid-column: 2/6;
        grid-row: 2/5;
    
        display: grid;
        grid-template-columns: 1fr;
    }
    .sideBarLinks{
        display: none;
    }

}