*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: #94a3b8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
#container>*{
    padding-left: 1rem;
    font-size: clamp(0.75rem + 0.75vw, 0.75vw + 0.75rem, 1.25vw + 1.25rem)
}
#sideBar{
    background-color: #cbd5e1;
    grid-column: 1/2;
    grid-row: 1/6;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
#sideBarBox1{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-content: center;
}
#sideBarBox2>div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
}
#sideBarBox3>div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
}
#header{
    background-color: #e2e8f0;
    grid-column: 2/6;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    padding: 0.5rem;
}
#search{
    grid-column: 1/3;
    grid-row: 1/2;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}
input{
    background-color: whitesmoke;
    color: rgb(141, 163, 163);
    width: clamp(15rem + 1vw ,10rem + 5vw,10vh);
    height: 1.5rem;
    border: none;
    border-radius: 5px;
}
#userName{
    grid-column: 1/3;
    grid-row: 2/3;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
#userName img{
    width: 3rem;
    height: 3rem;
}
#userName h3{
    flex: 1 1 auto;
}
#greeting{
    grid-column: 4/6;
    grid-row: 1/2;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5rem;
}
#greeting img{
    width: 6rem;
    height: 6rem;
}
#greet{
    align-self: flex-end;
}
#buttons{
    grid-column: 4/6;
    grid-row: 2/3;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: center;
}
#buttons>button{
    width: 3.5rem;
    height: 1.5rem;
    background-color: lightsteelblue;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}
#buttons button:hover{
    background-color: #64748b;
    width: 4rem;
    height: 2rem;
    color: lightskyblue;
}
#mainGrid{
    background-color: #f1f5f9;
    grid-column: 2/6;
    grid-row: 2/5;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#main-cont{
    background-color: #f1f5f9;
    grid-column: 1/3;
    grid-row: 1/2;
}
#main{
    display: grid;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    /* grid-template-rows: repeat(2,1fr); */
    gap: 1rem;
    padding: 10px;
}
.mainBox{
    background-color: #cbd5e1;
    padding: 5px;
    border-left: 5px solid #475569;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainBox .mainBoxMiniIcons{
    display: flex;
    justify-content: end;
    top: 10px;
}
#sideBar2{
    background-color: #f1f5f9;
    grid-column: 3/4;
    grid-row: 1/2;
}
.sideBar2Box{
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
#footer{
    background-color: #475569;
    grid-column: 2/6;
    grid-row: 5/6;
    display: grid;
    align-content: center;
    justify-content: center;
}
@media (max-width: 1400px){

}